<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;AlgoScene
    </title>
    <meta name="description" content="<%= description %>">
    <link rel="icon" href="/svg/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/<%= type %>/<%= key %>.css">
</head>

<body type="<%= type %>">
    <script type="module" src="/local-data.js"></script>
    <script type="module">
        await import('/local-data.js');
        await import('/common.js');
        window.ALGOSCENE.key = '<%= key %>';
        import('/<%= type %>/<%= key %>.js');
    </script>
</body>

</html>