<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <title>AlgoScene - <%= aboveText %></title>
    <link rel="icon" href="/svg/favicon.svg">
    <link rel="stylesheet" href="/autocompletejs/style.css">
    <link rel="stylesheet" href="/components/info.css">
    <link rel="stylesheet" href="/components/lang-btn.css">
    <link rel="stylesheet" href="/components/footer.css">
    <link rel="stylesheet" href="/home/style.css">
</head>

<body>
    <header>
        <div class="left">
            <div class="title">
                ALGOSCENE
                <img src="/svg/name.svg" alt="AlgoScene">
                <svg class="decorate" viewBox="0 0 297.5 108" xmlns="http://www.w3.org/2000/svg">
                    <path d="M 89.421631,0 0,108 H 140.82823 L 229.83149,0.49609375 H 230 V 0 Z" style="fill:#ffffff;fill-opacity:0.103753;stroke-width:1"></path>
                    <path d="M 156.92163,0 67.5,108 H 208.32823 L 297.33149,0.49609375 H 297.5 V 0 Z" style="fill:#ffffff;fill-opacity:0.103753;stroke-width:1"></path>
                </svg>
            </div>
        </div>
        <div class="right">
            <svg class="decorate" viewBox="0 0 297.5 108" xmlns="http://www.w3.org/2000/svg">
                <path d="M 89.421631,0 0,108 H 140.82823 L 229.83149,0.49609375 H 230 V 0 Z" style="fill:#ffffff;fill-opacity:0.103753;stroke-width:1"></path>
                <path d="M 156.92163,0 67.5,108 H 208.32823 L 297.33149,0.49609375 H 297.5 V 0 Z" style="fill:#ffffff;fill-opacity:0.103753;stroke-width:1"></path>
            </svg>
            <%- langBtnHTML %>
        </div>
    </header>
    <main>
        <h1 class="above"><%= aboveText %></h1>
        <input dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1" id="search" type="search" placeholder="<%= searchText %>">
        <%- footerHTML %>
    </main>
    <section id="contents"><%- contentHTML %></section>
    <div id="popup">
        <span class="overlay"></span>
        <%- infoHTML %>
    </div>
    <script src="/autocompletejs/script.js"></script>
    <script type="module">
        await import('/local-data.js');
        await import('/home/script.js');
        await import('/components/info.js');
        await import('/components/lang-btn.js');
        await import('/components/footer.js');
    </script>
</body>

</html>